<head>
</head>

<body>
		<header>
		  <div class="header-content">
		    <div class="header-content-inner">
		      <h1> <span>지은 </span> 일기</h1>
		      <hr>
		      <p> By 남선구, 허석영 </p>
		      <a href="#about" class="btn btn-primary btn-xl page-scroll">시작하기</a>
		    </div>
		  </div>
		</header>

		<section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Visual Novel Article</h2>
              <hr class="primary">
          </div>
	      </div>
      </div>
    </section>

    <section class="no-padding" id="portfolio">
	    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
           
	            <div class="col-lg-4 col-sm-6">
                <a href="assets/subway.jpg" class="portfolio-box">
                  <img src="assets/subway.jpg" class="img-responsive" alt="">
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Category
                      </div>
                      <div class="project-name">
                          SUBWAY
                      </div>
                    </div>
                  </div>
                </a>
	            </div>
	            <div class="col-lg-4 col-sm-6">
                <a href="assets/escalator.jpg" class="portfolio-box">
                  <img src="assets/escalator.jpg" class="img-responsive" alt="">
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Category
                      </div>
                      <div class="project-name">
                          ESCALATOR
                      </div>
                    </div>
                  </div>
                </a>
	            </div>
	           
	            <div class="col-lg-4 col-sm-6">
                <a href="assets/playground.jpg" class="portfolio-box">
                  <img src="assets/playground.jpg" class="img-responsive" alt="">
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Category
                      </div>
                      <div class="project-name">
                          PLAYGROUND
                      </div>
                    </div>
                  </div>
                </a>
	            </div>
	           
	        </div>
	    </div>
    </section>

</body>