<head>
</head>

<body>
    <header>
      <div class="header-content">
        <div class="header-content-inner">
          <h1>심각한 사회 문제로 대두된 지하철 성범죄</h1>
          <hr>
          <p> 지난 몇 년 새 심각한 문제로 떠오른 지하철 성범죄를 막기 위해 정부는 여러 대책을 내놓고 있지만, 정부의 지하철 성범죄 예방책이 실효성을 거두지 못하고 있는 것으로 드러났다.</p>
          <p>
          서강대학교 매스컴연구 2팀이 정보공개청구를 통해 확보한 자료에 따르면, 서울메트로는 2011년을 기점으로 연도별 CCTV, 보안관 예산을 매년 전년도 대비 최소 8% 이상 꾸준히 증액했다. 정부는 CCTV와 보안관 제도를 두 축으로 하여 성범죄 예방책을 펼치고 있지만, 지하철 성범죄 적발 건수는 예산을 221% 이상 대폭 증액한 2012년을 제외하고는 오히려 매년 증가하고 있다. 지하철 성범죄를 근절하기 위한 보다 근본적인 대책이 필요하다는 지적이 나온다.
          </p>
          <p>
          <small>By 박진만, 허석영</small>
          </p>
        </div>
      </div>
    </header>
</body>