<head>
</head>

<body>
		<header>
		  <div class="header-content">
		    <div class="header-content-inner">
		      <h1>기획 의도</h1>
		      <hr>
		      <p> 
		     	"지은 다이어리"는 대중교통 성범죄의 심각성을 알리는 기사이다. 
		     	</p>
		     	<p>
					대중교통에서 성범죄는 빈번하게 발생한다. 그리고 성범죄를 근절해야 한다는 사회적 의식도 존재한다. 그러나 대중교통 성범죄에 대한 인식은 성별에 따라 다르게 드러난다. 이는 남성이 상대적으로 대중교통 성범죄로부터 자유롭기 때문이다.
					</p>
					<p>
					남성과 여성의 인식 차이는 부정적인 결과를 낳았다. 피해자 경험에 따르면, 성범죄를 당한 후 남성인 가족, 친구에게 피해 사실을 알리고 공감을 구했을 때, 대부분의 남성들이 피해 사실을 대수롭지 않거나 어쩔 수 없다고 여겼다고 한다. 성범죄 피해 사실을 쉬쉬하는 분위기 속에서, 피해자는 자신의 피해 사실을 공론화할 수 있는 동력을 상실했고, 문제를 해결할 의지도 사그라들었다. 
					</p>
					<p>
					"지은 다이어리"는 대중교통 성범죄에 대한 남성과 여성의 인식의 접점을 찾고, 본질적인 문제 해결을 위한 기반을 구축하는 것을 목적으로 한다.
					</p>
		      <a href="#about" class="btn btn-primary btn-xl page-scroll"> 시작하기 </a>
		    </div>
		  </div>
		</header>
</body>