<!DOCTYPE html>
<html>

<head>
  <title>Vn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<!-- Bootstrap Core CSS -->
	  <link rel="stylesheet" href='//blackrockdigital.github.io/startbootstrap-creative/css/bootstrap.min.css'>

	  <!-- Custom Fonts -->
	  <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	  <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	  <link rel="stylesheet" href='http://blackrockdigital.github.io/startbootstrap-creative/css/magnific-popup.css' type="text/css">

	  <!-- Plugin CSS -->
	  <link rel="stylesheet" href='http://blackrockdigital.github.io/startbootstrap-creative/css/magnific-popup.css' text/css">

	  <!-- Custom CSS -->
	  <link rel="stylesheet" href='http://blackrockdigital.github.io/startbootstrap-creative/css/creative.css' type="text/css">
</head>

<body id="page-top">
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">Jieun Diary</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
              <a class="page-scroll" href="#about">About</a>
          </li>
          <li>
              <a class="page-scroll" href="#log-in">Log in</a>
          </li>
        </ul>
      </div>
        <!-- /.navbar-collapse -->
    </div>
        <!-- /.container-fluid -->
    </nav>

    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/scrollreveal.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

<%= yield %>

</body>
</html>
